
.spacer{
    flex: 1 1 auto;
}
.mat-toolbar {
  width:95%;
  margin-bottom: 1%;
}
.mat-card {
  width: 95%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 1%;
}
.videoPlayer {
  display: block; 
  background: #000;
  border: none; 
  height: 75vh;
  width: 75%;
  margin: 0 auto;
  margin-bottom:1%;
}
#subNavBar {
  display: flex;
  justify-content: space-between;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
