
.example-spacer{
    flex: 1 1 auto;
}
.mat-toolbar {
  width:95%;
  margin-bottom: 8px;
}
.mat-card {
  width: 95%;
  margin: 0 auto;
  display: flex;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
