<div class="container">
    <h2>New account</h2>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">

      <div class="form-group">
        <input id="email" name="email" class="form-control" type="text" placeholder="email" [(ngModel)]="accountForm.email"
               required #emailField="ngModel" email
               [class.field-error]="form.submitted && emailField.invalid" />
        <div [hidden]="emailField.valid || !form.submitted"
             class="alert alert-danger">
          Please enter a valid e-mail address
        </div>

      </div>
      <div class="form-group">
        <input id="login" name="login" class="form-control" placeholder="login" [(ngModel)]="accountForm.username"
               required #loginField="ngModel" minlength="6"
               [class.field-error]="form.submitted && loginField.invalid" />
        <div [hidden]="loginField.valid || !form.submitted"
             class="alert alert-danger">
          Login must contain mininum of 6 characters.
        </div>
      </div>
      <div class="form-group">
        <input id="passwordHash" name="passwordHash" type="password" class="form-control" placeholder="password" [(ngModel)]="accountForm.password"
               required #passwordHashField="ngModel" pattern="(?=^.{6,}$)((?=.*\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])|(?=.*[^A-Za-z0-9])(?=.*[A-Z])(?=.*[a-z])|(?=.*\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9]))^.*"
                       [class.field-error]="form.submitted && passwordHashField.invalid" />
        <!-- pattern got from regexlib.com, description: THE Complex Password Filter Matching 3 of 4 Character catagories:
          1.) at least 1 upper case character 2.) at least 1 lower case character 3.) at least 1 numerical character 4.) at least 1 special character
          It also enforces a min and max length and works for .Net and script Regex implimentations.-->
        <div [hidden]="passwordHashField.valid || !form.submitted"
             class="alert alert-danger">
          Password must contain mininum of 6 characters, must have one capital letter (A-Z), one special character (eg. !@#$%^) and one number (0-9).
        </div>
      </div>
      <div class="form-group">
        <input id="confirmPassword" name="confirmPassword" type="password" class="form-control" placeholder="confirm password" [(ngModel)]="accountForm.confirmPassword"
               required #confirmPasswordField="ngModel"
               [class.field-error]="form.submitted && confirmPassword!=passwordHashField" />
        <div [hidden]="confirmPassword === passwordHash && !form.submitted"
             class="alert alert-warning">
          Passwords must mach each other
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success">
        Ok
      </button>
      <button class="btn btn-outline-secondary"
              (click)='onBack()'>
        <i class="fa fa-chevron-left"></i> Back
      </button>
      <div [hidden]="!postError"
           class="alert alert-warning">
        {{postErrorMessage}}
      </div>
    </form>
  </div>
