
@{
    ViewData["Title"] = "ConfirmEmail";
    var email = Model.Email;
}
@model CreativeCookies.IdSrv.Quickstart.Account.ConfirmEmailViewModel

<h2>Confirm Email</h2>

<div class="container">
    <p>You have to confirm the address: <b>@email</b> before using the site.</p>
    <p>You may @Html.ActionLink("Resend activation link", "ResendLink", "Account", Model); </p>
    <p>Or just go back to the<a href="@Model.ReturnUrl">Login Page</a> </p>
</div>