
@{
    ViewData["Title"] = "ConfirmEmail";
}
@model CreativeCookies.IdSrv.Quickstart.Account.ConfirmEmailViewModel

<h2>ConfirmEmail</h2>

<div class="container">
    <p>Dear <b>@Model.Username</b> You have not confirmed your e-mail address yet.</p>
    <p>You may</p>
    <button class="btn btn-info" onclick="SendActivationLink">Resend Link</button>
    <p>Or:</p>
    <a href="@Model.ReturnUrl">Login Page</a>
</div>