<mat-card id="navigationCard">
  <mat-card-title>
    {{pageTitle}}
  </mat-card-title>
  <mat-card-content>
    <div id="subNavBar">
      <span>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput [(ngModel)]='listFilter' />
        </mat-form-field>
      </span>
      <span>
        <a *ngIf="isAdmin" mat-raised-button color="primary" routerLink="add">Add new post</a>
      </span>
    </div>
  </mat-card-content>
</mat-card>
<div *ngFor='let post of filteredPosts'>
  <mat-card class="card text-center">
    <mat-card-title class="card-title">
        <a [routerLink]="['/posts', post.id]">
          {{ post.title }}
        </a>
    </mat-card-title>
    <img mat-card-image [src]='post.imageUrl'
         [title]='post.title'>
    <mat-card-content id="{{ post.id }}_body">
      <div class="card-text" style="margin:1%">
        {{ post.description }}
      </div>
    </mat-card-content>
    <mat-card-footer class="blockquote-footer">
      <a *ngIf="isAdmin" mat-raised-button color="accent" class="btn-lg btn-block"
         routerLink="{{post.id}}/edit">Update</a>
      <a *ngIf="isAdmin" mat-raised-button color="warn" class="btn-lg btn-block"
         (click)="deletePost(post.id)">Delete</a>
      Publicated on:
      {{ post.publicationDate | date : 'fullDate' }}
    </mat-card-footer>
  </mat-card>
</div>
